.container {
  max-width: 42rem;
  padding: 0 1rem;
  margin: 3rem auto 4rem;
}

.homePage {
  background-color: #FFFFFF;
  background-repeat: no-repeat;

  /* Fallback */
  background-size: 100% auto;
  background-position: 0% 0%;

  /* CSS gradients */
  background-image: -moz-linear-gradient(transparent 0%, transparent 10vh, rgba(255,255,255,1) 30vh), url('/images/bg_mywork1.jpg');
  background-image: -webkit-gradient(transparent 0%, transparent 10vh, rgba(255,255,255,1) 30vh), url('/images/bg_mywork1.jpg');
  background-image: linear-gradient(transparent 0%, transparent 10vh, rgba(255,255,255,1) 30vh), url('/images/bg_mywork1.jpg');
  /* background-image: url('/images/bg_london.jpg'), 
  /* background-image: url('/images/bg_london.jpg'), 
                    -moz-linear-gradient(top, #ADB2B6 0%, #ABAEB3 100%);
  background-image: url('/images/bg_london.jpg'), 
                    -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADB2B6), color-stop(100%, #ABAEB3));
  background-image: url('/images/bg_london.jpg'), 
                    linear-gradient(to bottom, #ADB2B6, #ABAEB3); */

  /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ADB2B6', endColorstr='#ABAEB3', GradientType=0);
}

/* .header {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.header {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #073563;
  background: #DDDDDD;
  background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(255,255,255,0.5) 100%);
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  /* box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3); */
  /* border-bottom: 1px double #999999; */
}

.backToHome {
  margin: 3rem 0 0;
}

.siteName {
  border-left: 10px solid #999999;
  padding-left: 1rem;
}

.siteName>a {
  color: #073563;
  text-decoration: none;
}