.aside {
  display: inline-block;
  width: 35%;
  padding: 0 1rem;
}

.bodyExcludeHeader {
  display: flex;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXlBold {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingMdBold {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 600;
}

.headingSm {
  font-size: 1rem;
  line-height: 1.5;
}

.headingProfilePicture {
  text-align: center;
}

.remark {
  font-weight: normal;
  font-style: italic;
}

.borderCircle {
  border-radius: 9999px;
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); */
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

hr.remark {
  border-top: 1px dotted #999999;
  margin-top: 40px;
}

.superBold {
  font-weight: 800;
}

.bold {
  font-weight: 600;
}

.light {
  font-weight: 200;
}

.italic {
  font-style: italic;
}

.noMarginTop {
  margin-top: 0;
}

.noMarginBottom {
  margin-bottom: 0;
}

.noMarginTopBottom {
  margin-top: 0;
  margin-bottom: 0;
}

.main {
  display: inline-block;
  width: 65%;
  padding: 0 1rem;
}

.mainHeadColor {
  color: #073563;
  /* border-left: 5px solid #999999; */
  /* border-bottom: 2px solid linear-gradient(90deg, rgba(153,153,153,1) 0%, rgba(255,255,255,1) 100%); */
  /* padding-left: 0.5rem; */
  margin-bottom: 0;
}

.mainHeadColorAfter {
  background: linear-gradient(90deg, rgba(213, 173, 54,1) 0%, rgba(255,255,255,1) 100%);
  height: 2px;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}